<title>Raspberry PI Electronics</title>
<body>

    <div ng-app='electronics'>
        <div ng-controller='main'>
            Distance: {{distance}}cm
            <br><input type='range' min=0 max=500 ng-model='distance'>
            <br><br>

            <button ng-click='setPosition(2,positions[2]+10)'>&lt;--</button>
            <button ng-click='setPosition(2,positions[2]-10)'>--&gt;</button>
            <button ng-click='setPosition(1,positions[1]+10)'>FWD</button>
            <button ng-click='setPosition(1,positions[1]-10)'>BACK</button>
            <button ng-click='setPosition(0,positions[0]+10)'>UP</button>
            <button ng-click='setPosition(0,positions[0]-10)'>DOWN</button>
            <button ng-click='setPosition(3,positions[3]+10)'>OPEN</button>
            <button ng-click='setPosition(3,positions[3]-10)'>CLOSE</button>
            <br>
            <button ng-click='debug()'>Debug</button>
            {{(connected? "Connected" : "Not connected")}}
            <br>
                <button ng-click='setPosition(0)'>OFF</button>
                <br>
                <div ng-repeat='idx in [0,1,2,3]'>
                    <br><button ng-repeat='shift in [-100,-50,-20,-10,-5,-1,1,5,10,20,50,100]' ng-click='setPosition(idx, positions[idx]  + shift)'>{{shift}}</button>
                    <input type='range' min=0 max=100 ng-model='positions[idx]' ng-change='setPosition(idx,positions[idx])' />
                    {{positions[idx]}} 
                </div>
        </div>
    </div> 

</body>

<script src="/socket.io/socket.io.js"></script>
<script src='/node_modules/angular/angular.js'></script>

<script>

    
    angular.module('electronics',[])
    .controller('main', function($scope) {
        $scope.positions = [];

        $scope.setPosition = function(idx, position) {
            console.log("Setting ", idx, " to ", position);
            $scope.positions[idx] = position;
            socket.emit('positions', {idx, position});
        }
        
        var socket = io();
        function setConnected(value) {
            return () => {
                $scope.connected = value;
                $scope.$apply();
            }
        }

        function debug() {
            var s = socket;
            debugger;
        }

        $scope.debug = debug;
        socket.on('connect', setConnected(true));
        socket.on('disconnect', setConnected(false));
        socket.on('positions', data => {
            console.log("Received ", data)
            $scope.positions[data.idx] = data.position;
            $scope.$apply();
        });

        socket.on('distance',d => { $scope.distance = d; $scope.$apply(); });
        // socket.on('distance', function(distance) {
        //     $scope.distance = distance;
        //     $scope.$apply();
        // });

    })

 
</script>